Профессионалы работают с чистым кодом
Или языки программирования Или вопресс
Суть такая что сайт тоже находится на сервере это не безопасно
Тарас одобряет
Если на ворпрессе не программист а на уии программист то может и на уии не программист?
Ворстка для меня это понятие растяжимое
Я бы ставил таблицу а потом уже div
ничего тяжелого нет
Если у вас мозги не работают скажите что вы не программист и не лезьте в программирование
на самом деле сайты пишутся пальчиками!
Логика абычная
ООП - это не программирование, это как тесто, там взял, там взял и вот тебе результат собака-человеко-кот
Джумлы, Друпалы, ВордПрессы а программировать нормально то никто не умеет
Давайте подведем уже итог, кто там лошара?
Все мы клоуны по своему, все мы смешные
Есть люди которые считают себя программистами, но я их уже не считаю программистами, я их просто блокирую
Дизайн натянул и заказчика за одно натянул
Код до ужаса бешеный
ты уксус стремный
Меня боятся, я так понял
На шару отдавать не буду
код то шо надо
жду заказчика...
ХЛАМ!!!
Сижу на двух булках которые меня кормят
отдал с концами...
Можно спокойно писать на ПэХэПэ
Это просто мозги
Спасибо что протестировали меня
Я пишу на чистом коде
Шимпанзе не может быть программистом
вот это то что надо написать
Модератор засирает, а весь хлам отдается потом программисту
он написан на чистом коде!
Объект один, объект второй, собираешь все до кучи и что-то получается...
Я вынужден вас заблокировать так как с вашей стороны проявляется сарказм и вы ведете себя как троль
Вам нужно сначала себя показать а потом я же вас и специфицирую
Все думают что дизайн это качественно, но на самом деле код это качественно
Ворпресс профинансировал Оракли с целью внедрить мюсикел
Денег нет, ничего нет, растительности нет, как говорится планета населена роботами