Профессионалы работают с чистым кодом
Или языки программирования Или вопресс
Суть такая что сайт тоже находится на сервере это не безопасно
Тарас одобряет
Если на ворпрессе не программист а на уии программист то может и на уии не программист?
Ворстка для меня это понятие растяжимое
Я бы ставил таблицу а потом уже div
ничего тяжелого нет